
<div class="flex flex-col">
  <div class="container mx-auto text-center">
    <div class=" text-2xl text-blue-400 font-mysans my-20">
      <a href="https://www.upwork.com/fl/erickroberts">For know, I am trying out Upwork...<strong>If you are ready to start or talk about a project.</strong> <br>Click this link to hire me there.</a></div>
  </div>

  <div class="p-4 w-1/3 float-left mx-auto ">
    <cl-image secure="true" public-id="ready-to-work" class="cat_image" format="jpg">
      <cl-transformation radius="20">

      </cl-transformation>
    </cl-image>
  </div>

</div>

