<div class=" mx-body sm:mx-4 flex flex-wrap sm:flex-col my-12">
  <div *ngFor="let post of posts" class="w-1/4 sm:w-full flex flex-col rounded-lg shadow-md bg-white m-4 sm:mb-4">

    <a [routerLink]="[post.slug]">

      <img class="rounded-t-lg mb-2 h-42" *ngIf="post.featured_image" src="{{post.featured_image}}" alt="featured image" />
      <div class="p-4 text-left">
          <div class="text-xl py-2 font-light text-blue-800">
              {{post.title}}
            </div>
          <div class="text-md pl-4 text-gray-600" [innerHTML]="post.summary"></div>

      </div>
    </a>
  </div>

</div>